.container {
  width: 100%;
  max-width: 1100px;
  margin: 50px auto;
  border-radius: 15px;
  padding: 0 32px;
}

.general-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: 3.5em;
  color: rgb(17, 0, 255);
  margin-bottom: 30px;
  font-weight: 600;
}

.content-insription {
  font-size: 2.5em;
  text-align: center;
  color: rgb(17, 0, 255);
  font-weight: 600;
}
