.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  padding: 0 10px;
}

.partName {
  font-size: 2.2em;
  text-align: center;
  margin: 10px;
  min-width: fit-content;
  color: rgb(17, 0, 255);
  font-weight: 600;
}
